body{
    font-family: Arial, Helvetica, sans-serif;
}

.box1, .box2{
    border: 2px solid #444;
    padding: 10px;
}


/* Here margin of both the boxes collaps with each other (margin with higher count is applied) */
.box1{
    margin-bottom: 40px;
}

.box2{
    margin-bottom: 90px;
}