.div02{
    font-family: 'Montserrat', sans-serif;
}
.div01{
    background-color: grey;
}

h1{
    color: lightgreen;
}

.div02{
    background-color: rgb(38, 38, 129);
}

.cls01{
    color: bisque;
}

.cls02{
    color: azure;
}

.span01{
    color: yellow;
}

.span02{
    color: bisque;
}